<%- include("header") %>
<div class="container">
    <h1>Customer Details</h1>
    <table class="table">
        <thead class="thead-dark" style="background-color: #38b7ce;">
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Customer-Name</th>
            <th scope="col">Email</th>
            <th scope="col">Balance</th>
            
          </tr>
        </thead>
        <% customer.forEach(function(user){ %>
            <tbody>
                <tr>
                  <th scope="row"><%= user.sno %></th>
                  <td><a href="/account-<%=user.name%>"><%= user.name %></a></td>
                  <td><%= user.email %></td>
                  <td><%= user.balance %></td>
                </tr>
       <% }) %>
      </table>
</div>
<%- include("footer") %>
